{% extends "variants/layout.html" %} {% block body %}

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const a = document.querySelector('li').innerHTML
        const b = 'No task.'
        var n = a.localeCompare(b);
        //document.getElementById("demo").innerHTML = a + "<br>" + b + "<br>" + n;
        if (n === 0) {
            document.querySelector("#predict").disabled = "disabled";
            //document.getElementById("#selectAll").style.display="none";
        }
        else {
            document.querySelector("#Submit").style.color='#A9A9A9';
            //document.getElementById("#selectAll").style.display= "block";
            //document.getElementById("#selectAll").innerHTML = "Select / Deselect All\n"
            window.addEventListener("load", function(){
                var chkbox = document.getElementById("tabl");
                var selchk = chkbox.getElementsByTagName("input");
                for (var i=0; i<selchk.length; i++){
                    let chkval = selchk[i].value;
                    if(chkval.includes("missense") || chkval.includes("synonymous") || 
                      chkval.includes("stop_gained") || chkval.includes("frame") || chkval.includes("coding")){
                        selchk[i].checked = false;
                    }
                    else {
                        selchk[i].checked = true;
                    }
                }
            });
        }
        document.getElementById("debug_rsid").style.display="none";
    });

    function showCircle() {
        alert('Start Loading! May take a few minutes...');
        document.getElementById("postCircle").style.display = "block";
    }

    function showCircle1() {
        document.getElementById("postCircle").style.display = "block";
    }

    function get_values() {
        var selected = new Array();
        var chkbox = document.getElementById("tabl");
        var selchk = chkbox.getElementsByTagName("input");
        for (var i=0; i<selchk.length; i++){
            if(selchk[i].checked){
                selected.push(selchk[i].value.split(' ')[1])
            }
        }
        document.getElementById("display_value").value = selected;
        alert(selected.toString());
        showCircle();
        return selected
    }

    // function toggle(source) {
    //     checkboxes = document.getElementsByName('foo');
    //     for(var checkbox in checkboxes)
    //         checkbox.checked = source.checked;
    //     }
        
</script>

<div class="w3-container">
    <!--<p id="demo"></p>-->
    <p>In-silico mutagenesis for variant function prediction</p>
    <div class="loader" id="postCircle">
    </div>
    <h3>Input</h3>
    <div>
        <div class="w3-container w3-cell" style="width: 70%">
            <form action="{% url 'variants:index' %}" method="post">
                {% csrf_token %} {{ form }}
                <input onclick="showCircle1()" type="submit" value="Submit" id="Submit">
            </form>
        </div>
        <div class="w3-container w3-cell">
            <form action="{% url 'variants:predict' login %}" method="post">
            <!--<button id="Calculate">Calculate</button>-->
            <button onclick="get_values()" id="predict" type="submit">Predict</button>
            <p id="debug_rsid">
                {% csrf_token %} {{ form2 }} <!-- <input id="display_value" type="text"> -->
            </p>
            </form>         
        </div>
    </div>  
    
    <div class="w3-container w3-cell" style="width: 70%">
        <p>
            <h3>Database-included experiments</h3>
            <ul>
                {% for task in bs_info %}
                <li>{{ task }}</li>
                {% empty %}
                <li>No task.</li>
                {% endfor %}
            </ul>
        </p>
    </div>
    <div class="w3-container w3-cell">
        <p>
            <h3>Valid rsIDs</h3>
            <!--
            <ul>
                {% for rsid in rsids %}
                <li>{{ rsid }}</li>
                {% empty %}
                <li>No rsID.</li>
                {% endfor %}
            </ul>
            <input type="checkbox" id="selectAll" onClick="toggle(this)" value="selectAll">
            -->        
            <table id="tabl">
            {% for rsid in rsids %}
            <tr>
                <td>
                    <input type="checkbox" name="foo" value="{{rsid}}"> <!-- checked-->
                    <label> {{ rsid }}</label><br>
                </td>
            </tr>
            {% empty %}
                No rsID.
            {% endfor %}
            </table>
        </p> 
        
    </div>

    
</div>


{% endblock %}