__pycache__/
*/__pycache__/
*.py[cod]
variants/static/pred_out/*
nohup.out
data/hg19*
db.sqlite3
VariantEpi/settings.py
.DS_Store
.ipynb_checkpoints/
.vscode/
variants/static/bak/*
variants/views.py_bak
